<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>WELCOME TO DIVIDE DUNGEON!</h1>
        <img src="{{ url_for('static', filename='images/treasure.jpg') }}" alt="treasure">
        <h2>Find the hidden flag!</h2>
        <p>Flag format: <span style="color: red;">divide{fakeflag}</span></p>
        <!-- PART 1: divide{4N_4 -->
        <a href="{{ url_for('secret1') }}" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="{{ url_for('secret2') }}" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>
        <a href="{{ url_for('secret3') }}" class="startButton">START</a>
        <a href="/lock" class="startButton">START</a>

    </div>
    </script>
</body>
</html>

