<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCKED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>UNLOCKED</h1>
        <img src="{{ url_for('static', filename='images/lock.jpg') }}" alt="lock">
        <h2>You opened the treasure. You found nothing!</h2>
        <p>Sometimes npc reveals flag</p>
    </div>
</body>
</html>