<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECRET 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container" style="margin-top: 20px;">
        <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="cat">
        <p>Alien said <br> ⏁⏃☍⟒ ⏃ ⌰⍜⍜☍ ⍜⋏ ⋔⊬ ⎎⟟☌⊑⏁ ⏃☌⏃⟟⋏⌇⏁ "⍀⍜⏚⍜⏁⌇"<br> ⟟ ⍙⟟⌰⌰ ☌⟟⎐⟒ ⋔⊬ "⊑⟒⏃⎅⟒⍀⌇" ⋏⍜⍙</p>
    </div>
</body>
</html>